<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recepies Index Page</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
<script type="text/javascript" src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
<h1>My Recipes</h1>
<table class="table table-hover">
<thead>
	<tr>
		<th>ID</th>
		<th>Description</th>
		<th>View</th>
		<th>Update</th>
		<th>Delete</th>
	</tr>
</thead>
<tbody>
<tr th:remove="all">
		<th>123</th>
		<th>Tasty Goodness 1</th>
		<th><a href="#">View</a></th>
		<th><a href="#">Update</a></th>
	</tr>
	<tr th:remove="all">
		<th>334</th>
		<th>Tasty Goodness 3</th>
		<th><a href="#">View</a></th>
		<th><a href="#">Update</a></th>
		<th><a href="#">Delete</a></th>
	</tr>
	<tr th:each="recipe : ${recipes}">
		<th th:text="${recipe.id}">334</th>
		<th th:text="${recipe.description}">Tasty Goodness 3</th>
		<th><a href="#" th:href="@{'/recipe/show/'+${recipe.id}}">View</a></th>
		<th><a href="#" th:href="@{'/recipe/update/'+${recipe.id}}">Update</a></th>
		<th><a href="#" th:href="@{'/recipe/delete/'+${recipe.id}}">Delete</a></th>
	</tr>
</tbody>
</table>
</div>
</body>
</html>